* {
  font-family: Helvetica, Arial, sans-serif;
}

h1 {
  color: SeaGreen;
}

p, li {
  font-size: 18px;
  color: purple;
  font-weight: bold;
  font-style: italic;
}

p {
  text-decoration: overline;
  text-decoration-color: yellow;
}
