* {
  font-family: Helvetica, Arial, sans-serif;
}

h1 {
  color: khaki;
  font-weight: bold;
  font-size: 100px;
  text-align: center;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg");
}

h2 {
  font-size: 32px;
  font-weight: bold;
  color: white;
}

h2#one {
  background-color: mediumspringgreen;
}

h2#two {
  background-color: lightcoral;
}

h2#three {
  background-color: skyblue;
}

#special {
  font-weight: bold;
  color: blue;
}
